<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>colorResource</key>
	<array>
		<dict>
			<key>color</key>
			<string>#00ff00</string>
			<key>detail</key>
			<string>test color1</string>
			<key>name</key>
			<string>color1</string>
		</dict>
	</array>
	<key>fontResource</key>
	<dict/>
	<key>imageResource</key>
	<dict/>
</dict>
</plist>
